@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&family=Nunito:ital,wght@1,900&family=Permanent+Marker&family=Poppins:wght@100&family=Ubuntu&display=swap');
body {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #080609;
    max-width: 70%;
    color: aliceblue;
    font-display: white;
}

.name {
    width: 100%;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    text-align: center;
    /* background-color:#110f12c9; */
}

.avatar{
    max-width: 225px;
    max-height: 225px;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 50%;
}

.avatar:hover {
    max-width: 350px;
    max-height: 350px;
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 50%;
    transition: 0.5s;
}
.avatar:not(hover) {
    transition: 0.5s;
}

.blockname {
    padding-left: 15px;
    /* margin-top: 40px; */
    margin-bottom: 0px;
    margin-left: 5px;
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
}
.threeheads {
    text-align: center;
    padding-left: 0px;
    margin-left: 0px;

}
.mail {
    color: aliceblue;
    text-decoration: none;
}

.mainhr {
    max-width: 95%;
}

.card {
    background-color:#110f12c9;
    /* background-color: gray; */
    border-radius: 30px;
    width: 95%;
    margin: auto;
    height: 95%;
    margin-bottom: 20px;
}

.card:hover {
    width: 97%;
    height: 97%;
    background-color: #3a383bc9;
    transition: 0.5s;
    box-shadow: 0px 0px 8px 8px rgb(70, 70, 70);
}

.card:not(hover) {
    transition: 0.5s;
}

.workexp {
    width: 90%;
}

.studexp {
    width: 90%;
}

.langtab {
    /* background-color: grey; */
    width: 80%;
    margin: auto;
    line-height: 30px;
    /* max-width: 220px; */
}

.threeblocks {
    display: flex;
    justify-content: center;
    /* background-color: red; */
}
.righttd {
    text-align: right;
}

.descr {
    /* margin-left: 40px; */
    line-height: 30px;
    text-align: center;
}

.langcard {
    height: 280px;
    width: 31%;
    flex-shrink: 0;
    
}
.langcard:hover {
    width: 32%;
    height: 280px;
}

.linkscard {
    height: 280px;
    width: 31%;
    flex-shrink: 0;
}
.linkscard:hover {
    height: 280px;
    width: 32%;
}
.skillscard {
    height: 280px;
    width: 31%;
    flex-shrink: 0;
}
.skillscard:hover {
    height: 280px;
    width: 32%;
}
.sociallink {
    text-decoration: none;
    color: aliceblue;
}
.sociallink:hover {
    text-decoration: underline;
}
.bottomspace {
    height: 500px;
}